#theme{
    position: absolute;
    z-index: 2;
}

button{
    border: none;
    background-color: transparent;
    font-size: 19px;
    color: #0e4e96;
    cursor: pointer;
    margin: 5px;
}

.sun{
    display: none;
}

.moon{
    display: none;
}

@media(max-width:600px){
    #theme{
        display: none;
    }
}