@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}

.modal{
    height: 100%;
}

.modal header{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: #0e4e96;
    padding: 10px;
    margin-bottom: 1em;
}

.modal h2{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.modal_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    background-image: url(../img/provider_blue.png);
    background-repeat: no-repeat;
    background-position: 90% 35%;
    background-size: 190px;
}

.modal_form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    height: 420px;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
}

.modal_field{
    width: 55%;
    height: 25px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px #0e4e96;
    padding: 15px 10px;
    font-size: 17px;
    border-radius: 20px;
    color: #0e4e96;
    font-family: 'Comfortaa', cursive;
}

.modal_form textarea{
    height: 120px;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
}

.modal_field:hover{
    border: 1px solid #0e4d9684;
}

.modal_field:focus{
    border: 1px solid #0e4e96;
}

.div_active{
    display: flex;
}

.active_form{
    display: block;
    position: relative;
    margin-right: 10px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0e4e96;
    text-transform: uppercase;
}

.active_form input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #0e4e96;
    border-radius: 50%;
}

.active_form:hover input ~.checkmark{
    background-color: #1866c0a7;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.active_form input:checked ~.checkmark:after{
    display: block;
}

.active_form .checkmark:after{
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.modal_close{
    display: block;
    position: absolute;
    top: 0;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.modal_close:hover{
    color: #0e4d9684;
}

.modal footer{
    text-align: right;
    padding-right: 10px;
}

.modal footer button{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #0e4e96;
    border-style: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 16px;
}

.modal footer button:hover{
    background-color: #1866c0a7;
}