.modal-background{
    position: absolute;
    z-index: 10;
    background-color: white;
    left: 35%;
    top: 30%;
    width: 30%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}

.modal-container{
    padding: 1em;
    height: 50%;
}

.modal-container header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #036ee855;
    align-items: center;
}

.modal-container header h2{
    color: #0e4e96;
    font-size: 20px;
}

.modal-container header button{
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    width: 35px;
    padding: 0px;
    margin-bottom: 5px;
}

.modal-container header button:hover{
    background-color: #036ee855;
    border-radius: 20px;
}

.modal-container .body{
    justify-content: center;
    font-size: 15px;
    color: #0e4e96;
    display: flex;
    align-items: center;
}

.modal-container .footer{
    display: flex;
    justify-content: right;
}

.modal-container .footer button{
    background-color: #0e4e96;
    color: white;
    padding: 10px 25px;
    font-size: 13px;
    margin-right: 5px;
    border-radius: 20px;
    transition: .3s;
}

.modal-container .footer button:hover{
    box-shadow: inset 200px 0 0 #0e4d9677;
    border-radius: 20px;
    background-color: transparent;
    color: #0e4e96;
}

