.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5em;
    border-radius: 20px;
    width: 200px;
    padding: 9px;
    background-color: #0e4d96 ;
    position: relative;
}

.search button{
    position:absolute;
    right: -1%;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    height: 40px;
    width: 40px;
}

.search svg{
    text-align: center;
    color: white;
    font-size: 15px;
}

.search button:hover{
    box-shadow: inset 200px 0 0 #0e4d9677;
    border-radius: 20px;
    background-color: transparent;
}

.search input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    flex-grow: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    background-color: transparent;
    color: white;
    text-indent: 5px;
} 

.search:hover{
    background-color: #1357a594;
}

.search input:hover{
    background-color: transparent;
}

.search input::placeholder{
    color: white;
}