.submit button{
    border: 1px solid;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 20px;
    transition: .3s ease-in;
}

.submit button:hover{
    background: #0e4e96;
    color: white;
}