.table{
    width: 100%;
    height: 100%;
}

.radius{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.table table{
    margin: 0 auto;
    width: 50%;
    margin-top: 2em;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    border-radius: 2.5%;
}

.table caption{
    margin-bottom: 1em;
    font-size: 30px;
    color: #0e4e96;
    font-weight: bold;
}

.table thead{
    width: 100%;
    background-color: #0e4e96;
}

.table thead, tbody{
    display: block;
    text-align: center;
}

.table tbody{
    overflow-y: scroll;
    height: 300px;
    border-collapse: collapse;
}


.table td{
    width: 10%;
    border-bottom: 1px solid #0e4d9671;
    line-height: 2em;
}

.scroll tr{
    font-size: 17px;
}

.scroll tr:hover{
    background-color: #96c1f357;
}

.scroll tr .name{
    cursor: pointer;
}

.scroll svg{
    font-size: 19px;
    color: #0e4e96;
}

.scroll button{
    margin-top: 3px;
    padding: 6px;
    height: 30px;
    width: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.scroll button:hover{
    border-radius: 20px;
    background-color: #a0a0a055;
}

.scroll span{
    padding: 10px;
}

.table th{
    width: 7%;
    color: white;
    font-size: 17px;
    line-height: 2em;
}

.interactive{
    width: calc(100% - 15px);
}

.table tbody::-webkit-scrollbar{
    width: 10px;
    background-color: #f4f4f4;
}

.table tbody::-webkit-scrollbar-thumb{
    background-color: #0e4e96;
    border-radius: 20px;
}

.on,
.off{
    position: relative;
}

.on:before{
    top: 35%;
    width: 13px;
    left: 45%;
    height: 13px;
    background: #54c63aab;
    border-radius: 9px;
    position: absolute;
    content: "";
    margin: 0 auto;
    animation: on-pulse 2s linear infinite;
}

.on:after{
    width: 13px;
    height: 13px;
    background: #54c63a;
    border-radius: 9px;
    position: absolute;
    left: 45%;
    top: 35%;
    content: "";
    margin: 0 auto;
}

@keyframes on-pulse{
    0%{
        transform: scale(1.0);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(2);
        background-color: transparent;
    }
}

.off:before{
    top: 35%;
    width: 13px;
    left: 45%;
    height: 13px;
    background: rgba(199, 18, 18, 0.704);
    border-radius: 9px;
    position: absolute;
    content: "";
    margin: 0 auto;
    animation: on-pulse 2s linear infinite;
}

.off:after{
    width: 13px;
    height: 13px;
    background: rgb(199, 18, 18);
    border-radius: 9px;
    position: absolute;
    left: 45%;
    top: 35%;
    content: "";
    margin: 0 auto;
}

@media (max-width: 1010px){
    .table table{
        width: 70%;
    }
}

@media (max-width: 767px){
    .table table{
        width: 80%;
    }
}

@media (max-width: 641px){
    .table table{
        width: 90%;
    }
}

@media (max-width: 460px){
    .document_none{
        display: none;
    }
}

@media (max-width: 340px){
    .table table{
        width: 95%;
    }
}

@media (max-width: 320px){  
    .radius{
        overflow: visible;
    }  
    .table table{
        box-shadow: none;
        width: 100%;
    }
    .table thead{
        display: none;
    }

    .table tbody{
        overflow-y: hidden;
        height: 100%;
        width: 100%;
    }

    .table td{
        border-top: 1px solid #0e4d9671;
    }
}