.modal_container{
    height: 100%;
}

.modal_container header{
    color: #0e4e96;
    top: 0;
    color: white;
    text-align: center;
    line-height: 3em;
}

.modal_container h2{
    display: inline;
    color: #0e4e96;
}

.modal_container header button{
    float: right;
    font-size: 20px;
}

.modal_container header button:hover{
    color: #0e4d9684;
}

.modal_container form{
    width: 80%;
    margin: 0 auto;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal_container form input{
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px #0e4e96;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 20px;
    color: #0e4e96;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.modal_container input:hover{
    border: 1px solid #0e4d9684;
}

.modal_container form a{
    text-decoration: none;
    color: #0e4e96;
}

.modal_container form a:hover{
    color: #0e4d9684;
}

.modal_container footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.modal_container footer button{
    background-color: #0e4e96;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    padding: 10px;
}

.modal_container footer button:hover{
    background-color: #1866c0a7;
}