.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 100px;
}

.min_height{
    min-height: 75%;
}
