.footer{
    border-top: 1px solid #0e4d9671;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer h2{
    font-size: 20px;
    color: #0e4d96;
}

.footer div{
    padding-left: 1.5em;
}

.footer li{
    list-style: none;
}

.social svg{
    font-size: 24px;
    color: rgb(103, 103, 103);
}

.social svg:hover{
    color: #0e4d96;
}