.footer{
    border-top: 1px solid #0e4d9671;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0e4d9671;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.rodape h2{
    font-size: 20px;
    color: #0e4d96;
}


.rodape li{
    list-style: none;
}


.payment li{
    display: inline;
}

.payment img{
    width: 34px;
    height: 30px;
    margin-right: 5px;
    background-color: rgb(109, 109, 109);
    padding: 5px;
    border-radius: 5px;
}

.help li{
    padding-bottom: 10px;
}

.help a{
    color: rgb(154, 153, 153);
    text-decoration: none;
    font-size: 15px;
}

.help a:hover{
    color: #0e4e96;
}

.direitos{
    text-align: center;
    color: #0e4d96;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
}

.direitos span{
    text-align: center;
    padding: 3px;
}

.direitos svg{
    color: #0e4d96;
    font-size: 14px;
}

.social{
    display: flex;
    flex-direction: column;
}

.social h2{
    text-align: center;
}

.social .ana{
    float: left;
    margin-right: 15px;
}

.social .ana, .carlos{
    color: rgb(154, 153, 153);
    text-align: center;
}

.social .ana li{
    display: inline;
    padding: 10px;
}

.social h3{
    font-size: 15px;
}

.social .carlos{
    float: right;
    border-left: 1px solid;
    border-color: #0e4d9671;
    padding-left: 10px;
}

.social .carlos li{
    display: inline;
    padding: 10px;
}

.social a{
    text-decoration: none;
}

.social svg{
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    color: rgb(154, 153, 153);
}

.social svg:hover{
    color: #0e4d96;
    font-size: 21px;
}


.help, .payment, .social{
    height: 130px;
}

@media (max-width: 750px){
    .footer{
        width: 100%;
        text-align: center;
    }
    
    .rodape{
        flex-direction: column;
        width: 95%;
    }
}

@media (max-width: 350px){
    .rodape{
        display: block;
        padding-left: 0;
    }

    .help, .payment, .social{
        text-align: left;
    }

    .social h2{
        text-align: left;
    }

    .medias{
        display: flex;
    }

    .direitos{
        text-align: left;
    }
}

@media (max-width: 304px){
    .direitos{
        font-size: 12px;
    }
}

@media (max-width: 276px){
    .social{
        height: fit-content;
    }
    
    .medias{
        display: flex;
        flex-direction: column;
    }

    .social .carlos{
        text-align: left;
        border: none;
        padding-left: 0;
    }

    .social .ana{
        justify-content: left;
        text-align: left;
    }
}