#body{
    width: 100%;
    height: 100%;
}

.edit-body{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-body header{
    margin-top: 2em;
    text-align: center;
    color: #0e4e96;
    margin-bottom: 2em;
}

.edit-body form{
    display: flex;
    flex-direction: column;
}

.edit-body form input{
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    font-size: 15px;
    color: #0e4e96;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px #0e4e96;
    text-indent: 10px;
    background-color: transparent;
    margin-bottom: 20px;
}

.edit-body form input:hover,
.edit-body form textarea:hover{
    border: 1px solid #0e4d9684;
}

.edit-body form input::placeholder,
.edit-body form textarea::placeholder{
    color: #0e4e96;
}

.edit-body form textarea{
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    font-size: 15px;
    color: #0e4e96;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px #0e4e96;
    text-indent: 10px;
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
}

.div-active{
    display: flex;
    justify-content: center;
}

.active-form{
    display: block;
    position: relative;
    margin-right: 10px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0e4e96;
    text-transform: uppercase;
}

.active-form input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #0e4e96;
    border-radius: 50%;
}

.active-form:hover input ~.checkmark{
    background-color: #1866c0a7;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.active-form input:checked ~.checkmark:after{
    display: block;
}

.active-form .checkmark:after{
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.edit-body footer{
    display: flex;
    justify-content: center;
    margin-top: 3.5em;
}

@media (max-width: 960px){
    .edit-body form input,
    .edit-body form textarea{
        width: 70%;
    }

    .edit-body{
        width: 70%;
    }
}

@media (max-width: 650px){

    .edit-body{
        width: 80%;
    }
}

@media (max-width: 500px){

    .edit-body{
        width: 90%;
    }
    .edit-body form input,
    .edit-body form textarea{
        width: 85%;
    }
}